# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.swp
*~

#claude
.claude

# Generated
NawNo/Utilities/Generated/
Lunar/Utilities/Generated/
